@import "../../pages/styles";

.main_page_carousel {
  @include mobile {
    max-height: 14rem !important;
    div {
      height: 14rem;
    }
  }

  @include tablet {
    max-height: 20rem !important;
    div {
      height: 20rem;
    }
  }
  @include desktop {
    max-height: 25rem !important;
    div {
      height: 25rem;
    }
  }
}
